.glow-btn {
    padding: 2%;
    font-size: 41px;
    border: black 4px solid;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: black;
    transition: all 0.3s ease;
}

.glow-btn:hover {
    box-shadow: 0 0 20px rgb(113, 233, 213),
        0 0 40px rgba(113, 233, 213, 0.616),
        0 0 20px #F1CA76;
    animation: animate 1s ease-in-out infinite;
}

.glow-btn:active {
    box-shadow: 0 0 20px rgb(113, 233, 213),
        0 0 40px rgba(113, 233, 213, 0.616),
        inset 0 0 30px rgb(0, 0, 0);
    transform: scale(0.95);
    animation: none;
}

.glow-btn::before {
    content: "";
    position: absolute;
    border-radius: 8.88px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    width: 96%;
    background: linear-gradient(to bottom,
            rgb(253, 253, 253),
            rgba(255, 255, 255, 0.055));
    pointer-events: none;
    z-index: 0;
    transition: all 0.3s ease;
}


.glow-btn>* {
    position: relative;
    z-index: 1;
}

#logo {
    width: 70%;
    height: 70%;
    max-width: 56px;
    max-height: 56px;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}