.find-clan-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(0.5vw);
    -webkit-backdrop-filter: blur(0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.find-clan-menu {
    background: #f1ca76;
    padding: 2rem;
    border-radius: 15px;
    border: 4px solid #000;
    width: 60dvw;
    height: 80dvh;
    position: relative;
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 20px 22px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 90%;
}

.search-bar p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.search-bar input {
    width: 90%;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 4px solid #000;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.search-button {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.icon-button {
    margin-top: 3rem;
}