.find-clan-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(0.5vw);
    -webkit-backdrop-filter: blur(0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.find-clan-menu {
    background: #f1ca76;
    padding: 2rem;
    border-radius: 15px;
    border: 4px solid #000;
    width: 60dvw;
    height: 80dvh;
    position: relative;
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 20px 22px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}

.find-clan-close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: #DC7922;
    border: 4px solid black;
    border-radius: 8px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
}


.find-clan-close-btn:hover {
    background: #ff4444;
    box-shadow: 0 0 15px rgba(255, 68, 68, 0.5);
    transform: scale(1.05);
}

.find-clan-close-btn:active {
    transform: scale(0.95);
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 90%;
}

.search-bar p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.search-bar input {
    width: 90%;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 4px solid #000;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.search-button {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.icon-button {
    margin-top: 3rem;
}

.few_clan_text {
    position: sticky;
    font-size: 2rem;
    color: black;
}

.fewclan{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}