.intro-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.first-side-card,
.second-side-card {
    width: clamp(200px, 22%, 290px);
    aspect-ratio: 262 / 415;
    height: auto;
    background-color: #F1CA76;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.maincard {
    width: 300px;
    aspect-ratio: 441 / 673;
    height: auto;
    max-height: 480px;
    background-color: #F1CA76;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: -26px 0px 7.7px rgba(0, 0, 0, 0.25),
        26px 0px 7.7px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.first-side-card {
    transform: rotate(-13.27deg) translateX(50px) translateY(20px);
}

.second-side-card {
    transform: rotate(13.27deg) translateX(-50px) translateY(20px);
}

.maincard p {
    text-align: center;
    color: black
}

.welcome-title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    transform: translateY(70px);
    margin-bottom: 0px;
}

.welcome-description {
    font-size: 35px;
    text-align: center;
    transform: translateY(40px);
    line-height: .9;
}