.leave-clan-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.leave-clan-menu {
    background: #F1CA76;
    padding: 2rem;
    border-radius: 15px;
    width: 40%;
    max-height: 80vh;
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: inset 4px 4px 20px 20px rgba(0, 0, 0, 0.358);
    border: 4px solid black;
}

.leave-clan-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.leave-clan-content p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: black;
    margin: 0 auto;
}

.leave-clan-actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-direction: row;
}