.player-card-friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C8C4C4;
    border: 3px solid black;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    width: 100%;
    height: 3.5rem;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.player-card-friend::before {
    content: "";
    position: absolute;
    border-radius: 8px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    width: 99%;
    background: linear-gradient(to bottom,
            rgb(253, 253, 253),
            rgba(255, 255, 255, 0.055));
    pointer-events: none;
    z-index: 0;
}

.player-info-friend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    position: relative;
    z-index: 1;
    line-height: 1;
}

.player-name-friend {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.player-clan {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}

.player-rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
}

.player-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    margin-left: 1rem;
    min-width: 160px;
    width: 160px;
}

.rating-value {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.trophy-icon {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
}