.social-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(0.5vw);
    -webkit-backdrop-filter: blur(0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.social-menu {
    background: #f1ca76;
    padding: 2rem;
    border-radius: 15px;
    border: 4px solid #000;
    width: 60dvw;
    height: 80dvh;
    position: relative;
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 20px 22px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.social-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.close-button {
    margin: 0;
}

.close-button img {
    display: inline-block;
}

.social-tabs {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.social-content::-webkit-scrollbar {
    display: none;
}

/* Friend Section Styles */
.friend-section {
    width: 100%;
}

.search-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 70%;
}

.search-bar p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.search-bar input {
    width: 90%;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 4px solid #000;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.icon-button {
    margin-top: 3.7rem;
}

.players-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* Mail Section Styles */
.mail-section {
    width: 100%;
}

.mail-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: black;
}

.mail-feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}