.xp-wrapper {
    position: absolute;
    top: 1px;
    left: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.xp-bar {
    position: relative;
    width: 247px;
    height: 35px;
    background: transparent;
    border: 3px solid black;
    border-radius: 12.89px;
    overflow: hidden;
}

.xp-bar::before {
    content: "";
    position: absolute;
    border-radius: 7.55px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    width: 96%;
    background: linear-gradient(to bottom,
            rgb(253, 253, 253),
            rgba(255, 255, 255, 0.055));
    pointer-events: none;
    z-index: 0;
}

.xp-fill {
    height: 100%;
    background: linear-gradient(to bottom,
            #ffcc66,
            #ff9f1c);
    border-radius: 13px 0 0 13px;
    transition: width 0.4s ease;
}

.xp-label {
    transform: translateY(30px) translateX(-20px);
    font-size: 33px;
    color: white;
    text-shadow:
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000,
        -3px 0 0 #000,
        3px 0 0 #000,
        0 -3px 0 #000,
        0 3px 0 #000;
    margin: 0;
    font-weight: bold;
    z-index: 1;
}