.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.menu {
    background: #F1CA76;
    padding-left: 2rem;
    border-radius: 0px 15px 15px 0px;
    min-width: 60vh;
    max-width: 90%;
    height: 70vh;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 4px 4px 4px 0px;
    border-style: solid;
    border-color: black;
    box-shadow: inset 4px 4px 20px 20px rgba(0, 0, 0, 0.55);
    animation: slideIn 0.3s forwards;
}

.menu.slideOut {
    animation: slideOut 0.3s forwards;
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-header {
    font-size: 4rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    gap: 10px;
    margin-top: 1rem;
    line-height: 1.1;
}

.menu-header p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 3rem;
}

.close-button {
    margin-top: 0.5rem;
}

.menu-image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-bottom: 0;
}

.menu_pictures {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: -15px;
    margin-right: 10px;
    margin-top: -10px;
}

.pvp {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
    width: 200px;
    padding: 1rem;
    background-color: #69D2FF;
    border-radius: 15px;
    box-shadow: inset 4px 4px 20px 5px rgba(0, 0, 0, 0.55);
    color: black;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%) translateY(-50%);
    }

    to {
        transform: translateX(0) translateY(-50%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0) translateY(-50%);
    }

    to {
        transform: translateX(-100%) translateY(-50%);
    }
}